.button{
	transition-duration: 0.4s;
	background-color: white;
	color: black;
	border: 2px solid green;
	padding: 20px 32px ;
	text-align: center;
	display: flex;
	font-size: 16px ;
	margin: auto;
	cursor: pointer;
	border-radius: 4px;
justify-content: center;
}

.button:hover {
	background-color: green;
	color: white;
}

#newdiv{

	text-align: center;

}
